body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-container {
  background: grey;
}

.foreground-container {
  background: white;
}

.no-bullet {
  list-style-type: none;
}

.no-text-deco:hover {
  text-decoration: none;
}

.header-title {
  text-decoration: underline;
  color: #cceeff;
}

